@import "../../../styles/variables/colors";

.input-box {
  .ant-form-item {
    .ant-picker {
      height: 33px;
      display: block;
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 4px;

      &:hover {
        border-color: $theme-primary;
      }
    }
  }
}
