@import "../../../styles/variables/colors";

// add-movies-container

.add-movies-container {
  padding: 30px;
}

// add-movies-input

.add-movies-input {
  .add-movie {
    margin-top: 30px;
    background-color: #ffffff;
    .header {
      border-bottom: 1px solid rgba(141, 141, 141, 0.5);
      h3 {
        padding: 20px;
        font-size: 14px;
        margin: 0;
      }
    }

    .input-fields {
      padding: 10px;
    }
  }
}

// .additional-info

.additional-info {
  margin-top: 30px;

  background-color: #ffffff;
  .header {
    border-bottom: 1px solid rgba(141, 141, 141, 0.5);
    h3 {
      padding: 20px;
      font-size: 14px;
      margin: 0;
    }
  }

  .input-fields {
    padding: 10px;
  }

  .check-permissions {
    margin-top: 30px;

    .create-poster-thumbnail {
      display: flex;
      justify-content: flex-end;

      .ant-btn {
        display: flex;
        align-items: center;
        height: 33px;
        color: #fff;
        background-color: $theme-primary;
        font-size: 17px;

        .icon {
          color: #ffffff;
        }
      }
    }
  }
}
