@import "../../styles/variables/colors";

.import-movies-header {
  .movie-filter {
    .heading {
      padding: 10px;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      background-color: #6772e5;
    }

    .ant-space-compact {
      align-items: center;

      .ant-input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 2px solid #ced4da;
        border-radius: 4px;

        &:hover {
          border-color: $theme-primary;
          border-width: 2px;
        }

        &:focus {
          box-shadow: none;
        }
      }

      .ant-btn {
        color: #fff;
        background-color: $theme-primary;
        border: none;
        outline: none;
        height: 33px;
      }

      .ant-form-item {
        margin: 0;

        &:nth-child(1) {
          width: 100%;
        }
      }
    }

    .desc {
      margin-top: 5px;
      display: block;
      color: #6c757d;

      a {
        color: $theme-primary !important;
      }
    }
  }
}
