.import-movies-header {
  .movie-filter {
    .heading {
      padding: 10px;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      background-color: #6772e5;
    }
  }
}
