@import "../styles/variables/colors";

// app-layout-main

.app-layout-main {
  height: 100vh;
}

// app-layout-header

.app-layout-header {
  padding: 0;
  background-color: #6772e5;
}

// App-Sidebar

.sider-bar {
  background-color: #222d32 !important;
  max-width: 250px;
  height: calc(100vh - 64px);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

// app-layout-content

.app-layout-content {
  width: 100%;
  height: calc(100vh - 64px);
  overflow-y: scroll;
}
